/* VARIABLES */
@font-face {
    font-family: 'W95FA';
    src: url("../font/W95FA/w95fa.woff");
}

@font-face {
    font-family: 'leviwindows';
    src: url("../font/leviwindows/Windows\ Regular.ttf");
}

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello/fontello.eot');
    src: url('../font/fontello/fontello.woff2') format('woff2'),
        url('../font/fontello/fontello.woff') format('woff'),
        url('../font/fontello/fontello.ttf') format('truetype'),
        url('../font/fontello/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
:root{
    --main-color:  #008080;
    --secundary-color: #C0C0C0;
    --border-white: #EFEFEF;
    --bgColor--screen: #D9D9D9;
    --selected: #0827F5;
    --btnScreen: #C3C3C3;
    --footerBG: #BDBDBD;
    --footerCopyBG: #868686;
}
/* RESET CSS */
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    overflow: hidden;
}
/* CLASES POR DEFECTO */
.border{
    border: 2px solid #eee;
    border-right-color: #000;
    border-bottom-color: #000;
}
.borderStatic{
    border: 2px solid #eee;
    border-right-color: #000;
    border-bottom-color: #000;
}
.borderInv{
    border: 2px solid #000;
    border-right-color: #eee;
    border-bottom-color: #eee;
}
.border:hover{
    border: 2px solid #000;
    border-right-color: #eee;
    border-bottom-color: #eee;
}
.pointer{
    cursor: pointer;
}
.maxwidth-100{
    max-width: 100%;
}
.divAux{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 888;
    /* background-color: rgba(255, 0, 0, 0.226); */
    overflow: hidden;
}
/* MAIN */
#aps{
    height: 100vh;
    overflow: hidden;
    display: grid;
    background-color: var(--main-color);
    grid-template-columns: repeat(15, 1fr); /* 20 columnas */
    grid-template-rows: repeat(7, 1fr); /* 10 filas, cada una de 100px de altura */
    grid-auto-flow: column;
}

#aps > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'leviwindows';
}
.iconDesktop:hover{
    border: 1px dashed white;
    margin: 15px;
}
#aps > div > button{
    background: transparent;
    border: none;
    color: white !important;
}
/* FOOTER */
footer{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: var(--secundary-color);
    border-top: 3px solid var(--border-white);
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr); /* 7 filas */
    font-family: 'leviwindows';
}

.windowMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    margin: auto;
}
.divWM{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: 50px;
    margin: auto;
    padding-left: 1rem;
    gap: 10px;
}
.windowMenu > img{
    width: 50px;
    transform: rotate(-20deg);
}
.imgWM{
    width: 40px;
}
.windowMenu > p{
    font-size: 2rem;
    font-weight: bolder;
}
.pWM{
    font-size: 1.5rem;
}
.hora{
    margin: auto;
    margin-right: 10px;
    width: 200px;
    height: 50px;
    grid-column: 7 / 8;
}
.hora >p{
    font-size: 2rem;
}
/* screen */
.screen{
    position: absolute;
    background-color: var(--bgColor--screen);
    display: flex;
    flex-direction: column;
    padding: .2rem;
    font-family: 'leviwindows';
    user-select: none;
    width: 700px;
}
.scaleScreen{
    position: absolute;
    background-color: transparent;
    /* border: 1px solid black; */
    z-index: 900;
}
.scaleScreenAR{
    bottom: -5px;
    left: -1px;
    width: 100%;
    height: 5px;
    cursor: n-resize;
}
.scaleScreenAB{
    top: -5px;
    left: -1px;
    width: 100%;
    height: 5px;
    cursor: n-resize;
}
.scaleScreenIZQ{
    top: -1px;
    left: -12px;
    height: 100%;
    width: 5px;
    cursor: e-resize;
}
.scaleScreenDER{
    top: -1px;
    right: -12px;
    height: 100%;
    width: 5px;
    cursor: e-resize;
}
.screen-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--selected);
}
.screen-header-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 100%;
    justify-content: start;
    gap: .2rem;
}
.screen-header-logo > img{
    width: 30px;
}
.screen-subHeader{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    background-color: var(--btnScreen);
}
.forward{
    transform: rotate(180deg);
}
.screen-subHeader > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screen-url{
    display: flex;
    align-items: center;
    justify-content: start;
}
.close{
    position: relative;
    z-index: 999;
}
.min{
    position: relative;
    z-index: 999;
}
.full{
    position: relative;
    z-index: 999;
}
.btnMFC{
    position: relative;
    z-index: 999;
    display: flex;
    gap: .2rem;
}

/* CONTENT PRODUCTOS */
.screen-content{
    overflow-y: scroll;
    height: 40vh;
}
.screen-content-banner{
    background-image: url(../img/bannershop.jpg);
    background-size: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.screen-content-productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.screen-content-productos-articles{
    display: flex;
    justify-content: space-between;
}
.screen-content-productos > h2{
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 1rem;
}
.screen-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}
.screen-article > h3{
    font-weight: bolder;
    font-size: 1.5rem;
}
.screen-article > img{
    width: 200px;
}
.screen-article p:nth-child(3){
    width: 60%;
    text-align: center;
    margin: auto;
    font-weight: lighter;
}
.screen-article p:nth-child(4){
    font-weight: bolder;
}
.screen-content-valoraciones{  
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}
.screen-content-valoraciones-article{
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen-content-valoraciones > h2{
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin: auto;
    margin-bottom: 3rem;
}
.screen-content-valoraciones-article > div:nth-child(1){
    width: 70px;
}
.screen-content-valoraciones-article > div:nth-child(2){
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.screen-content-valoraciones-article > div > h4{
    font-weight: bolder;
}
.screen-content-valoraciones-article > div > p{
    font-style: italic;
    color: #575757;
}
.screen-content-footer-redes{
    background-color: var(--footerBG);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}
.screen-content-footer-redes > div{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    text-align: center;
}
.screen-content-footer-redes > div img{
    width: 70px;
}
.screen-content-footer-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--footerCopyBG);
}

/* CONTENT CONOCENOS */

.imgText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.imgText > div{
    width: 50%;
    margin: auto;
}
.imgText > div:nth-child(1){
    display: flex;
    justify-content: end;
}
.imgText > div:nth-child(2){
    display: flex;
    flex-direction: column;
    margin: auto;
}
.imgText > div:nth-child(2) h2{
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: 'W95FA';
}
.imgText img{
    width: 400px;
    max-width: 100%;
}
.ubi{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footerBG);
    gap: 2rem;
}
.ubi h3{
    font-weight: bolder;
    font-size: 2rem;
}
.ubi > div{
    width: 30%;
}
.ubi > div:nth-child(2){
    width: 30%;
}
.ubi > div:nth-child(2) iframe{
    max-width: 100%;
    height: 200px;
}
.ubi{
    padding: 1rem 0;
}
.divError{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalError{
    background-color: var(--footerBG);
}
.modalError > div:nth-child(1){
    background-color: var(--selected);
    display: flex;
    justify-content: space-between;
    color: white;
    padding: .2rem;
}
.red{
    background-color: red !important;
    color: white;
    padding: .2rem;
}
.contentModalError{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.contentModalError > div:nth-child(1){
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.shake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}