/* VARIABLES */
@font-face {
    font-family: 'W95FA';
    src: url("../font/W95FA/w95fa.woff");
}

@font-face {
    font-family: 'leviwindows';
    src: url("../font/leviwindows/Windows\ Regular.ttf");
}

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello/fontello.eot');
    src: url('../font/fontello/fontello.woff2') format('woff2'),
        url('../font/fontello/fontello.woff') format('woff'),
        url('../font/fontello/fontello.ttf') format('truetype'),
        url('../font/fontello/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
:root{
    --main-color:  #008080;
    --secundary-color: #C0C0C0;
    --border-white: #EFEFEF;
    --bgColor--screen: #D9D9D9;
}
/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CLASES POR DEFECTO */
.border{
    border: 2px solid #eee;
    border-right-color: #000;
    border-bottom-color: #000;
}
.borderStatic{
    border: 2px solid #eee;
    border-right-color: #000;
    border-bottom-color: #000;
}
.borderInv{
    border: 2px solid #000;
    border-right-color: #eee;
    border-bottom-color: #eee;
}
.border:hover{
    border: 2px solid #000;
    border-right-color: #eee;
    border-bottom-color: #eee;
}
.pointer{
    cursor: pointer;
}
.maxwidth-100{
    max-width: 100%;
}
/* MAIN */
#aps{
    height: 100vh;
    overflow: hidden;
    display: grid;
    background-color: var(--main-color);
    grid-template-columns: repeat(15, 1fr); /* 20 columnas */
    grid-template-rows: repeat(7, 1fr); /* 10 filas, cada una de 100px de altura */
    grid-auto-flow: column;
}

#aps > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'leviwindows';
}
.iconDesktop:hover{
    border: 1px dashed white;
    margin: 15px;
}
#aps > div > button{
    background: transparent;
    border: none;
    color: white !important;
}
/* FOOTER */
footer{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: var(--secundary-color);
    border-top: 3px solid var(--border-white);
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr); /* 7 filas */
    font-family: 'leviwindows';
}

.windowMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    margin: auto;
}
.divWM{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: 50px;
    margin: auto;
    padding-left: 1rem;
    gap: 10px;
}
.windowMenu > img{
    width: 50px;
    transform: rotate(-20deg);
}
.imgWM{
    width: 40px;
}
.windowMenu > p{
    font-size: 2rem;
    font-weight: bolder;
}
.pWM{
    font-size: 1.5rem;
}
.hora{
    margin: auto;
    margin-right: 10px;
    width: 200px;
    height: 50px;
    grid-column: 7 / 8;
}
.hora >p{
    font-size: 2rem;
}
/* screen */
.screen{
    position: absolute;
    background-color: var(--bgColor--screen);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.screen-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.screen-header-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.screen-header-logo > img{
    width: 30px;
}